<html>
  {{> head title="Aplikasi Cek Cuaca"}}
  <body>
    <div class="main-content">
      {{> header}}
      <p>Aplikasi ini digunakan untuk mengecek cuaca</p>
    </div>
    {{> footer}}
  </body>
</html>
