<html>
  {{> head title="Halaman Tentang Saya"}}
  <body>
    <div class="main-content">
      {{> header}}
      <img class="portrait" src="/img/profil.png" />
    </div>
    {{> footer}}
  </body>
</html>
